body{
  background-image: url(texture_ice_cream_drawings.jpg);
}

.form_controler{
  position: absolute;
  top: 15vh;
  background: #ffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}
